<link rel="stylesheet" href="/partials-styles">
<div class="errorDisplayer">
  <% if (locals.errors) {%>
    <ul>
      <% errors.forEach((error) => { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>
</div>
