<link rel="stylesheet" href="/partials-styles">
<footer>
	<a href="https://github.com/Yidnekachew-SK/Inventory-Application">
		<p>Yidnekachew-SK</p>
		<img src="/icons/github.svg"></img>
	</a>		
</footer>